*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.mainpage{
    background-image: url('./images/bg_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__list-item{
    display: inline-block;
}

.header__list-item a{
    text-decoration: none;
    color: #fff;
}

.header__list-item + .header__list-item{
    margin-left: 38px;
}

.header__settings{
    display: flex;
    align-items: center;
}

.header__language{
    display: flex;
    align-items: center;
}

.language{
    padding-right: 6px;
}

.header__settings-line{
    width: 0px;
    height: 30px;
    opacity: 0.5;
    border: 0.873968px solid #FFFFFF;
    margin: 0 23px;
}

.game-icons__xbox{
    margin-right: 17px;
}